html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #cdb79e;

}

.nav-bar-container{
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0 2% 0 0;
    overflow: hidden;
    background-color: #262626;
}

.nav-bar li{
    float: left;
    padding-right: 2%;
    font-family: 'Lusitana', sans-serif;
}

.nav-bar li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
}

.product-page-container{
    width: 75%;
    height: 100%;
    margin: 3% auto;
    padding: 10px;
}

.product-info-container{
    display: inline-block;
    height: 75%;
    float:left;
    width:40%;
    background-color: #FFF;

}

.product-image-container{
    height:70%;
}

.product-description-container{
    text-align: center;
    padding-top: 15%;
}

.product-page-image{
    margin: 20px auto auto auto;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.form-container {
    display: inline-block;
    float:right;
    height: auto;
    width: 57%;

}


form{
    padding: 20px 30px 40px 30px;
    height: 100%;
    background-color: #FFF;
    margin: 0;
}

form > h2 {
    font-size: 40px;
    margin: 15px 10px 10px 10px;
}

form p {
    margin-bottom: 30px;
}

section{
    display: inline-block;
    padding: 5px;
}

section.contact {
    float: left;

}

section.shipping {
    float:right;
}

section.payment {
    clear:both;
}

input:invalid{
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}

.error{
    color: #ea2727;
}

#submit {
    background-color: #5299D3; 
    color: white; 
    border: none;
    border-radius: .5em;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 150px;
    margin: 10px auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#submit:hover {
    opacity: .75;
}