
html, body{
    width: 100%;
}

.container {
    margin: 10px 10px;
}

.container table{
    margin: 0 auto;
}

.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-bar li{
    display: inline;
}

.nav-bar li a{
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
}

