
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nav-bar-container{
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 0;
  margin: 0;

}

.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0 2% 0 0;
    overflow: hidden;
    background-color: #262626;
}

.nav-bar li{
    float: right;
    padding-right: 2%;
    font-family: 'Lusitana', sans-serif;
}

.nav-bar li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
}

.section {
  height: 100%;

}

.section-title {
    margin: auto;
    width: 50%;
    padding-top: 50px;
    text-align: center;
}

.home{
    background-image: url("/ecommerce-site/images/sabri-tuzcu-197978.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 300%;
    font-family: 'Lusitana', sans-serif;
}

.product-sections{
    font-family: 'Lusitana', sans-serif;
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
}

.product-table{
    margin: auto;
}

.product-description{
    text-align: center;
}

.product-image{
    max-width: 300px;
    height: auto;
}
